#Generated dlls
lib/Critter.Client.dll
lib/Critter.Client.WithEmbeddedPomonaClient.dll
lib/Critters.Client.dll
lib/Critters.Client.xml
lib/Critters.Client.WithEmbeddedPomonaClient.dll
lib/Critters.Client.WithEmbeddedPomonaClient.xml
lib/IndependentCritters.dll
lib/IndependentCritters.xml
lib/Extra.Client.dll
lib/Extra.Client.xml

#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/
*.nupkg

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl
app/Pomona/QueriesPomona.csproj.AntlrGeneratedCodeFileListAbsolute.txt

#btsync
.SyncID
.SyncIgnore
.SyncArchive/


*.TMP
*.sln.GhostDoc.xml
