#Generated dlls
lib/Critter.Client.dll
lib/Critter.Client.WithEmbeddedPomonaClient.dll
lib/Critters.Client.dll
lib/Critters.Client.xml
lib/Critters.Client.WithEmbeddedPomonaClient.dll
lib/Critters.Client.WithEmbeddedPomonaClient.xml
lib/IndependentCritters.dll
lib/IndependentCritters.xml
lib/Extra.Client.dll
lib/Extra.Client.xml

#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/
*.nupkg

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*


# visual studio database projects
*.dbmdl
app/Pomona/QueriesPomona.csproj.AntlrGeneratedCodeFileListAbsolute.txt

#btsync
.SyncID
.SyncIgnore
.SyncArchive/


*.TMP
*.sln.GhostDoc.xml
project.lock.json
.vs

# ANTLR tokens file
*.tokens

# From: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties