.textCursor {
    /*position: absolute;
    background-color: #880000;*/
    width: 0px;
    height: 20px;
}

.textContainer {
    margin: 0px;
    padding: 0px;
}

.acAlts {
    list-style-type: none;
    margin: 0px;
    padding: 2px;
    border: solid;
    border-width: 1px;
    position: absolute;
    background-color: #eeeeff;
}

.acSelected {
    background-color: #ff5566;
}

.textCursorVisible {
    width: 1px;
    height: 20px;
    position: absolute;
    background-color: #880000;
}

.editbox {
    width: 580px;
    padding: 7px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    position: relative;
}
